<div>
	<div class="hide_list" style="height: 1269px; display: none;">
		<div class="abbr" style="display: -webkit-box;">
			<div class="first_list">
				<ul>
					<li class="directory">全部分类</li>
					<li class="directory select">居家生活</li>
					<li class="directory">鞋帽</li>
					<li class="directory">手表眼镜</li>
					<li class="directory">家居日用</li>
					<li class="directory">数码电器</li>
					<li class="directory">母婴用品</li>
					<li class="directory">服装</li>
				</ul>
			</div>
			<div class="second_list">
				<ul style="display: block;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catename=%E5%85%A8%E9%83%A8%E5%88%86%E7%B1%BB&quanname=%E5%85%A8%E5%9F%8E">全部分类</a>
					</li>
				</ul>
				<ul style="display: block;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=28&catename=%E5%85%A8%E9%83%A8&quanname=%E5%85%A8%E5%9F%8E">全部</a>
					</li>
				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=25&catename=%E5%85%A8%E9%83%A8&quanname=%E5%85%A8%E5%9F%8E">全部</a>
					</li>
				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=26&catename=%E5%85%A8%E9%83%A8&quanname=%E5%85%A8%E5%9F%8E">全部</a>
					</li>
				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=27&catename=%E5%85%A8%E9%83%A8&quanname=%E5%85%A8%E5%9F%8E">全部</a>
					</li>
				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=35&catename=%E5%85%A8%E9%83%A8&quanname=%E5%85%A8%E5%9F%8E">全部</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=39&catename=%E5%B0%8F%E5%AE%B6%E7%94%B5&quanname=%E5%85%A8%E5%9F%8E">小家电</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=38&catename=%E6%89%8B%E6%9C%BA&quanname=%E5%85%A8%E5%9F%8E">手机</a>
					</li>
				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=29&catename=%E5%85%A8%E9%83%A8&quanname=%E5%85%A8%E5%9F%8E">全部</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=37&catename=%E7%8E%A9%E5%85%B7&quanname=%E5%85%A8%E5%9F%8E">玩具</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=36&catename=%E4%B9%A6%E5%8C%85&quanname=%E5%85%A8%E5%9F%8E">书包</a>
					</li>
				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=24&catename=%E5%85%A8%E9%83%A8&quanname=%E5%85%A8%E5%9F%8E">全部</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=33&catename=%E6%AF%9B%E8%A1%A3&quanname=%E5%85%A8%E5%9F%8E">毛衣</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=32&catename=%E5%AE%B6%E5%B1%85%E6%9C%8D&quanname=%E5%85%A8%E5%9F%8E">家居服</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=31&catename=%E7%94%B7%E8%A3%85&quanname=%E5%85%A8%E5%9F%8E">男装</a>
					</li>
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&catalog_id=30&catename=%E5%A5%B3%E8%A3%85&quanname=%E5%85%A8%E5%9F%8E">女装</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="abbr" style="display: none;">
			<div class="first_list">
				<ul>

					<li class="directory">全部品牌</li>
					<li class="directory">七匹狼</li>
					<li class="directory">耐克</li>
					<li class="directory">阿迪达斯</li>
					<li class="directory">龙中龙</li>
				</ul>
			</div>
			<div class="second_list">
				<ul style="display: block;">
					<li class="two_directory">
						<a href="">全部</a>
					</li>

				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&quan_id=13&quanname=%E4%B8%83%E5%8C%B9%E7%8B%BC&catename=%E5%85%A8%E9%83%A8%E5%88%86%E7%B1%BB">全部</a>
					</li>
					<li class="two_directory">
						<a href="">全部</a>
					</li>

				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&quan_id=14&quanname=%E8%80%90%E5%85%8B&catename=%E5%85%A8%E9%83%A8%E5%88%86%E7%B1%BB">全部</a>
					</li>
					<li class="two_directory">
						<a href="">全部</a>
					</li>

				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&quan_id=15&quanname=%E9%98%BF%E8%BF%AA%E8%BE%BE%E6%96%AF&catename=%E5%85%A8%E9%83%A8%E5%88%86%E7%B1%BB">全部</a>
					</li>
					<li class="two_directory">
						<a href="">全部</a>
					</li>

				</ul>
				<ul style="display: none;">
					<li class="two_directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&quan_id=16&quanname=%E9%BE%99%E4%B8%AD%E9%BE%99&catename=%E5%85%A8%E9%83%A8%E5%88%86%E7%B1%BB">全部</a>
					</li>
					<li class="two_directory">
						<a href="">全部</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="abbr" style="display: none;">
			<div class="first_list">
				<ul>
					<li class="directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&order_type=avg_point">默认排序</a>
					</li>
					<li class="directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&order_type=newest">最新发布</a>
					</li>
					<li class="directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&order_type=buy_count">销量最高</a>
					</li>
					<li class="directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&order_type=price_desc">价格最高</a>
					</li>
					<li class="directory">
						<a href="http://zhe.me/wap/index.php?ctl=goodslist&order_type=price_asc">价格最低</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main_list">
		<ul class="mall-cate">
			<li class="">
				全部分类 <i class="fa fa-sort-desc"></i>
			</li>
			<li class="">
				全城 <i class="fa fa-sort-desc"></i>
			</li>
			<li>
				默认排序
				<i class="fa fa-sort-desc"></i>
			</li>
		</ul>
	</div>
</div>